$padding: 20px;
$padding-small: 5px;

.modal {
  position: fixed;
  box-shadow: 0 0 0 100vw rgba(0,0,0,0.6);
  width: 200px;
  left: 0;
  right: 0;
  margin: auto;
  top: $padding;
  padding: $padding;
  text-align: center;
  background: white;
  display: none;

  border-radius: 3px;

  &--open {
    display: block;
  }

  &__close {
    position: absolute;
    top: $padding-small;
    right: $padding-small;
  }
}

